In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
cars = pd.read_csv("cars.csv")

In [4]:
cars

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Nissan Titan King Cab XE,False,False,False,False,True,True,False,26650,24926,5.6,8,305,14.0,18.0,5287.0,140.0,NaN,NaN
424,Subaru Baja,False,False,False,False,True,True,False,24520,22304,2.5,4,165,21.0,28.0,3485.0,104.0,NaN,NaN
425,Toyota Tacoma,False,False,False,False,True,False,True,12800,11879,2.4,4,142,22.0,27.0,2750.0,103.0,NaN,NaN
426,Toyota Tundra Regular Cab V6,False,False,False,False,True,False,True,16495,14978,3.4,6,190,16.0,20.0,3925.0,128.0,NaN,NaN
427,Toyota Tundra Access Cab V6 SR5,False,False,False,False,True,True,False,25935,23520,3.4,6,190,14.0,17.0,4435.0,128.0,NaN,NaN

In [5]:
### changing column name

cars = cars.rename(columns = {"name":"car_name"})

In [6]:
cars

,car_name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Nissan Titan King Cab XE,False,False,False,False,True,True,False,26650,24926,5.6,8,305,14.0,18.0,5287.0,140.0,NaN,NaN
424,Subaru Baja,False,False,False,False,True,True,False,24520,22304,2.5,4,165,21.0,28.0,3485.0,104.0,NaN,NaN
425,Toyota Tacoma,False,False,False,False,True,False,True,12800,11879,2.4,4,142,22.0,27.0,2750.0,103.0,NaN,NaN
426,Toyota Tundra Regular Cab V6,False,False,False,False,True,False,True,16495,14978,3.4,6,190,16.0,20.0,3925.0,128.0,NaN,NaN
427,Toyota Tundra Access Cab V6 SR5,False,False,False,False,True,True,False,25935,23520,3.4,6,190,14.0,17.0,4435.0,128.0,NaN,NaN

In [8]:
cars.Engine_size.value_counts()

3.0    42
3.5    34
2.0    30
2.5    26
1.8    23
2.4    23
4.6    21
4.2    20
3.2    18
3.8    17
2.2    15
2.3    13
3.4    12
2.7    12
1.6    10
3.3    10
4.0     8
5.0     8
4.3     8
1.5     6
6.0     6
5.3     5
3.6     5
4.4     5
4.7     5
2.8     4
1.7     4
3.9     4
4.5     4
5.7     3
3.7     3
2.9     3
2.6     3
5.5     3
1.9     3
5.6     2
4.8     2
5.4     2
1.3     2
1.4     1
3.1     1
6.8     1
8.3     1
Name: Engine_size, dtype: int64

In [9]:
cars.describe()

,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
count,428.000000,428.000000,428.000000,428.000000,428.000000,414.000000,414.000000,426.000000,426.000000,402.000000,400.000000
mean,32774.855140,30014.700935,3.196729,5.775701,215.885514,20.089372,26.905797,3577.213615,108.173709,185.126866,71.292500
std,19431.716674,17642.117750,1.108595,1.622779,71.836032,5.213062,5.696804,760.437663,8.326449,13.312523,3.393484
min,10280.000000,9875.000000,1.300000,-1.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000,64.000000
25%,20334.250000,18866.000000,2.375000,4.000000,165.000000,17.000000,24.000000,3102.000000,103.000000,177.000000,69.000000
50%,27635.000000,25294.500000,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,186.000000,71.000000
75%,39205.000000,35710.250000,3.900000,6.000000,255.000000,21.000000,29.000000,3974.250000,112.000000,193.000000,73.000000
max,192465.000000,173560.000000,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,227.000000,81.000000

In [10]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   car_name                  428 non-null    object
 1   sports_car                428 non-null    bool
 2   suv                       428 non-null    bool
 3   wagon                     428 non-null    bool
 4   minivan                   428 non-null    bool
 5   pickup                    428 non-null    bool
 6   all_wheel                 428 non-null    bool
 7   rear_wheel                428 non-null    bool
 8   Price                     428 non-null    int64
 9   Dealer_Cost               428 non-null    int64
 10  Engine_size               428 non-null    float64
 11  cylenders                 428 non-null    int64
 12  horsepower                428 non-null    int64
 13  city_miles_per_galloon    414 non-null    float64
 14  highway_miles_per_Gallon  414 non-null    float64
 15  weight                    426 non-null    float64
 16  base_wheeel               426 non-null    float64
 17  length                    402 non-null    float64
 18  width                     400 non-null    float64
dtypes: bool(7), float64(7), int64(4), object(1)
memory usage: 43.2+ KB

In [11]:
cars.columns

Index(['car_name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup',
       'all_wheel', 'rear_wheel', 'Price', 'Dealer_Cost', 'Engine_size',
       'cylenders', 'horsepower', 'city_miles_per_galloon',
       'highway_miles_per_Gallon', 'weight', 'base_wheeel', 'length', 'width'],
      dtype='object')

## Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression

In [16]:
cars = cars.dropna(axis = 0)

In [17]:
cars

,car_name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,Oldsmobile Silhouette GL,False,False,False,True,False,False,False,28790,26120,3.4,6,185,19.0,26.0,3948.0,120.0,201.0,72.0
400,Pontiac Montana,False,False,False,True,False,False,False,23845,21644,3.4,6,185,19.0,26.0,3803.0,112.0,187.0,72.0
401,Pontiac Montana EWB,False,False,False,True,False,True,False,31370,28454,3.4,6,185,18.0,24.0,4431.0,121.0,201.0,72.0
402,Toyota Sienna CE,False,False,False,True,False,False,False,23495,21198,3.3,6,230,19.0,27.0,4120.0,119.0,200.0,77.0
403,Toyota Sienna XLE Limited,False,False,False,True,False,False,False,28800,25690,3.3,6,230,19.0,27.0,4165.0,119.0,200.0,77.0

In [18]:
x = cars.Price.values.reshape(-1,1)
y = cars.city_miles_per_galloon.values.reshape(-1,1)

In [20]:
model = LinearRegression().fit(x,y)

In [21]:
model.coef_

array([[-0.00012945]])

In [22]:
model.intercept_

array([24.61443678])